html {
  font-family: Poppins, sans-serif;
}

.masthead-next {
  text-align: right;
}

.img-worry {
  max-width: 60%;
  align-items: center;
}

.img-worry-assist {
  max-width: 37%;
}

figcaption {
  color: #9b87ac;
}

.btn-nav-style {
  padding-bottom: 0;
  margin-bottom: .5em;
  border: none;
  border-bottom: 5px solid #ff854d;
  border-radius: 0;
  color: #000;
  background-color: #fff;
}

.btn-nav-style-log {
  padding-bottom: 0;
  margin-bottom: .5em;
  border: none;
  border-bottom: 5px solid #88a4b5;
  border-radius: 0;
  color: #000;
  background-color: #fff;
}

.banner {
  position: relative;
  overflow: hidden;
}

.slogan {
  top: 0%;
  left: 0%;
  max-width: 600px;
  position: absolute;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.pin-c {
  left: 58%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.banner-content-any {
  font-weight: 900;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.banner-content-t {
  font-weight: 800;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.banner-content-p {
  font-weight: 800;
  color: #fff;
  position: absolute;
  top: 38%;
  left: 55%;
  width: 100%;
}

.banner-content-m {
  font-weight: 800;
  color: #fff;
  position: absolute;
  top: 43%;
  left: 54%;
  width: 100%;
}

.banner-content-statement {
  color: #fff;
  position: absolute;
  top: 60%;
  left: 50%;
  width: 100%;
}

.banner-content-why-tappy {
  font-weight: 900;
  color: #fff;
  position: absolute;
  top: 30%;
  left: 50%;
  width: 100%;
}

.banner-content-statement-why-tappy {
  color: #fff;
  position: absolute;
  top: 57%;
  left: 50%;
  width: 100%;
}

.action {
  font-weight: 600;
  position: absolute;
  background-color: #ff854d;
  top: 70%;
  left: 50%;
  border: none;
  border-radius: 0;
  padding: .7em 1.5em;
}

.logo {
  z-index: 1;
  position: absolute;
  top: -1%;
  left: 10%;
  width: 34%;
}

.logo-sign-in {
  width: 15%;
}

.business {
  background-color: #a1a1a1;
}

.fixed-price {
  background-color: #88a4b5;
}

.pay-by-customer {
  background-color: #9b87ac;
}

.for-you {
  background-color: #88a4b5;
}

.btn-bottom {
  font-weight: 600;
  background-color: #ff854d;
  border: none;
  border-radius: 0;
  padding: .7em 1.5em;
  color: #000;
}

.pad-r {
  padding-right: 1em;
}

.pad-l {
  padding-left: 1em;
}

footer {
  background-color: #ccc0b9;
}

@media only screen and (max-width: 60em) {

  .for-you {
    padding: 3em;
  }

  .order-change {
    order: -1;
    text-align: left;
    padding: 0;
  }

  .img-large-screen {
    display: none;
  }

  .pads {
    padding: 0;
  }

  .banner-content-why-tappy {
    font-size: 2.986rem;
    line-height: 4.125rem;
  }

  .logo{
    width: 50%;
    left: 5%;
  }

}

@media only screen and (min-width: 60em) {

  .for-you {
    padding: 3em;
  }

  .img-small-screen {
    display: none;
    overflow: hidden;
  }

  .action {
    top: 80%;
  }

}

@media only screen and (min-width: 25em) {

  .content {
    width: 465px;
  }

  .l-table {
    display: table;
    vertical-align: middle;
    height: 100%;
    margin: auto;
  }

  .l-table-wrapper {
    display: table-row;
  }

  .l-table-cell {
    display: table-cell;
    vertical-align: middle;
    padding-top: 200px;
  }

  .login-modal {
    padding: 40px;
    background-color: #ddd;
  }

}

.max-logo {
  max-width: 100px;
}

.field {
  width: 100%;
}

.btn-sign-in {
  width: 100%;
  text-align: center;
}

.yes {
  vertical-align: middle;
  text-align: center;
}

.footer-img {
  vertical-align: middle;
  position: relative;
}

.text-footer {
  position: absolute;
}

.center-t {
  vertical-align: middle;
  text-align: center;
  background-color: #9b87ac;
}

@media only screen and (min-width: 38em) {

  .space-right {
    padding-right: .5em;
  }

  .space-left {
    padding-left: .5em;
  }

}

.btn-continue {
  width: 100%;
  text-align: center;
}
